################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio build folders
x64/
Debug/
Release/
*.exe
*.ilk
*.idb
*.pdb
*.obj
*.log
*.recipe
*.tlog
*.cache
*.db
*.suo
*.user
*.vcxproj.FileListAbsolute.txt

# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.cache
*.pdb
*.ipch
*.obj
*.log
*.tlog

# Output
[Bb]in/
[Oo]bj/

# Python
__pycache__/
*.pyc

# OS/Editor
.DS_Store
Thumbs.db

