################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.cache
*.pdb
*.ipch
*.obj
*.log
*.tlog

# Output
[Bb]in/
[Oo]bj/

# Python
__pycache__/
*.pyc

# OS/Editor
.DS_Store
Thumbs.db

